@{
    ViewData["Title"] = "Contact";
}
<div class="contacts">
    <h2 class="devIntro">
        <b>About the developer
        </b>
    </h2>
    <p>Hi, there! Let's connect with each other! Here are some of my social medias down below, make sure to follow it.</p>
    <ul>
        <li>
            <i class="fa-brands fa-github">
                <a href="https://github.com/FelipeMGR" target="_blank">GitHub
                </a>
                </i>
            </li>
        <li>
            <i class="fa-brands fa-linkedin"><a href="https://www.linkedin.com/in/felipemgr/" target="_blank">Linkedin</a></i>
        </li>
    </ul>
</div>
