@{
    ViewData["Title"] = "Contact";
}
<div class="contacts">
    <h2 class="devIntro">
        <b>About the developer
        </b>
    </h2>
    <p>Hi, there! Let's connect with each other! Here are some of my social medias down below, make sure to follow it. Keep reading for documentation!</p>
    <ul>
        <li>
            <i class="fa-brands fa-github">
                <a href="https://github.com/FelipeMGR" target="_blank">GitHub
                </a>
                </i>
            </li>
        <li>
            <i class="fa-brands fa-linkedin"><a href="https://www.linkedin.com/in/felipemgr/" target="_blank">Linkedin</a></i>
        </li>
    </ul>

    <div>
        <h3>About the project</h3>

        <p> This is a project developed together with Leonardo Buta in one of his courses in the DIO plataform. In this code, we made a contact agenda where you can either create, edit, delete and view a existing contact.</p>
    </div>
</div>
